@import "../../App.scss";

.about {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  padding: 30px;

  .my-photo {
    width: 50%;
    height: inherit;
  }
  .infos {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    padding: 20px;

    .bio {
      overflow: auto;
      margin-right: 60px;
      scroll-behavior: smooth;

      span {
        text-indent: 10px;
        font-size: 19px;
        line-height: 1.4;
        font-weight: 300;

        padding: 0 40px;
      }
    }

    .skill {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $white;
        width: 50px;
        border-radius: 30px;

        img {
          position: relative;
          margin: 8px;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .my-photo {
      height: 200px;

      img {
        height: inherit;
      }
    }
    .infos {
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      .bio{
        margin-right: 0;
        padding: auto;
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 100%;

        span{
          padding: 0;
        }

      }

      .skill {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .logos {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
        }
      }
    }
  }
}
