@import "../../App.scss";

.about {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  padding: 30px;

  .my-photo {
    width: 50%;
    height: inherit;
  }
  .infos {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    padding: 20px;

    .bio {
      overflow: auto;
      margin: 0 60px 0 0;
      scroll-behavior: smooth;
      
      span {
        text-indent: 10px;
        font-size: 19px;
        line-height: 1.4;
        font-weight: 300;

        padding: 0 40px;
      }
    }

    .skill {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $white;
        width: 50px;
        border-radius: 30px;

        img {
          position: relative;
          margin: 8px;
          height: 60px;
        }
      }
    }
  }
}
