@import "../../App.scss";

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 60px);

  .my-photo {
    display: flex;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 3rem;
    }
  }
}
