@import "../../App.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  width: 340px;
  padding: 5px;
  border-radius: 8px;

  background-color: $white;
  color: $blue-dark-1;

  .card-header {
    height: inherit;

    img {
      border-radius: 8px;
      background-color: red;
      height: 160px;
      width: 100%;
    }
  }

  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;

    min-height: 80px;
    text-align: center;
  }

  .card-footer {
    margin: 8px;
    button {
      color: $white;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      background-color: $blue-dark-1;
      transition: 0.5s;

      &:hover{
        cursor: pointer;
        background-color: $blue-dark-2;
        transition: 0.5s;
      }
    }
  }
}
